#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	./configure \
      --with-showlistmodes \
      --with-listen=5 \
      --with-dpath=/var/chroot/unreal \
      --with-spath=/var/chroot/unreal/bin/ircd \
      --with-nick-history=1024 \
      --with-sendq=2097152 \
      --with-bufferpool=16 \
      --with-permissions=0640 \
      --with-fd-setsize=1024 \
      --enable-dynamic-linking \
      --enable-ssl \
      --enable-inet6 \
      --with-showlistmodes \
      --with-topic0snuhost \
      --with-operoverride-verify

override_dh_auto_install:
	make \
      IRCDDIR=debian/unrealircd/var/chroot/unreal \
      BINDIR=debian/unrealircd/var/chroot/unreal/bin/ircd \
      install

%:
	dh $@  --with autotools-dev
